Repository mhvk/baseband-tasks, pull requests merged in 2018-12, with the labels that each got.

#45 Add luojing1211 in README.rst and AUTHORS.rst
  AUTHORS.rst
  README.rst
Labels: docs

#51 Avoid comparing units with 'time'.
  scintillometry/base.py
Labels: performance

#52 Ensure generators can count on offset being correct in _read_frame.
  scintillometry/base.py
  scintillometry/tests/test_generators.py
Labels: base, bug, generators

#54 Factor out a BaseTaskBase for integration.
  scintillometry/base.py
  scintillometry/integration.py
Labels: base, integrate, refactoring

#55 Move shape check with samples_per_frame higher up.
  scintillometry/base.py
  scintillometry/channelize.py
  scintillometry/dispersion.py
Labels: base, channelization, dedispersion, refactoring

#53 Integration by phase and its use in Stack
  docs/index.rst
  docs/tasks/integration.rst
  scintillometry/integration.py
  scintillometry/tests/test_integration.py
Labels: enhancement, integration

#57 Use improved offset calculation, unable (hopefully) to get stuck.
  scintillometry/integration.py
Labels: bug, integration
