Repository mhvk/baseband-tasks, pull requests merged in 2019-06, with the labels that each got.

#89 Set minimum version for PyFFTW.
  docs/install.rst
Labels: docs, fourier

#90 Add test that ortho works for pyfftw.
  scintillometry/fourier/tests/test_fourier.py
Labels: fourier, testing

#91 Ensure files are always closed in tests.
  scintillometry/tests/test_base.py
Labels: testing

#74 PSRIO
  docs/index.rst
  docs/io/psrfits.rst
  scintillometry/io/__init__.py
  scintillometry/io/psrfits/__init__.py
  scintillometry/io/psrfits/core.py
  scintillometry/io/psrfits/hdu.py
  scintillometry/tests/data/B1855+09.430.PUPPI.11y.x.sum.sm
  scintillometry/tests/data/B1855_nano.npz
  scintillometry/tests/test_io_psrfits.py
  setup.cfg
Labels: enhancement, io

#77 Add a double-precision Phase class
  .travis.yml
  docs/install.rst
  scintillometry/integration.py
  scintillometry/phases/__init__.py
  scintillometry/phases/core.py
  scintillometry/phases/phase.py
  scintillometry/tests/test_integration.py
  scintillometry/tests/test_phase_class.py
  scintillometry/tests/test_phases.py
Labels: enhancement, phases

#96 Ensure pint toa tests are actually run.
  scintillometry/tests/test_phases.py
  scintillometry/tests/test_pint_toas.py
Labels: bug, phases, testing

#102 StreamCombiner class
  .travis.yml
  docs/index.rst
  docs/install.rst
  docs/tasks/combining.rst
  scintillometry/base.py
  scintillometry/combining.py
  scintillometry/shaping.py
  scintillometry/tests/test_combining.py
  scintillometry/tests/test_shaping.py
Labels: combining, enhancement

#104 Simple wrapper that allows one to set frequency, etc., attributes.
  scintillometry/base.py
  scintillometry/tests/test_base.py
  scintillometry/tests/test_shaping.py
Labels: base, enhancement

#105 Delete rather than close ih
  scintillometry/base.py
  scintillometry/shaping.py
  scintillometry/tests/common.py
  scintillometry/tests/test_base.py
  scintillometry/tests/test_channelize.py
  scintillometry/tests/test_combining.py
  scintillometry/tests/test_convolution.py
  scintillometry/tests/test_functions.py
  scintillometry/tests/test_shaping.py
Labels: base, refactoring, testing

#107 Add Real2Complex with initial tests.
  docs/index.rst
  docs/tasks/conversion.rst
  scintillometry/conversion.py
  scintillometry/tests/test_conversion.py
Labels: conversion, enhancement

#109 Fix comment add phase docstring
  docs/helpers/phases.rst
  scintillometry/tests/test_phases.py
Labels: docs, phases

#94 Psrfits write
  scintillometry/__init__.py
  scintillometry/data/PsrfitsDocumentation.html
  scintillometry/io/psrfits/core.py
  scintillometry/io/psrfits/hdu.py
  scintillometry/io/psrfits/psrfits_htm_parser.py
  scintillometry/tests/test_io_psrfits_read.py
  scintillometry/tests/test_io_psrfits_setter.py
  setup.py
Labels: Work in progress, enhancement

#113 Allow combine tasks to work just on time common to streams.
  scintillometry/combining.py
  scintillometry/tests/test_combining.py
Labels: combining, enhancement

#114 Avoid test warnings
  scintillometry/phases/phase.py
  scintillometry/tests/test_io_psrfits_setter.py
Labels: refactoring, testing
