Repository mhvk/baseband-tasks, pull requests merged in 2019-03, with the labels that each got.

#67 Allow one to pass in a start time or offset for integration.
  scintillometry/base.py
  scintillometry/integration.py
  scintillometry/tests/test_integration.py
Labels: enhancement, integration

#68 Add polarization argument to all generators.
  scintillometry/generators.py
  scintillometry/tests/test_generators.py
Labels: bug, generators

#49 Phase utils
  .travis.yml
  docs/conf.py
  docs/helpers/phases.rst
  docs/index.rst
  docs/install.rst
  docs/tasks/integration.rst
  scintillometry/phases/__init__.py
  scintillometry/phases/core.py
  scintillometry/phases/pint_toas.py
  scintillometry/phases/predictor.py
  scintillometry/tests/data/B1937+21_NANOGrav_11yv1.gls.par
  scintillometry/tests/data/B1937_polyco.dat
  scintillometry/tests/setup_package.py
  scintillometry/tests/test_phases.py
  scintillometry/tests/test_pintutils.py
  scintillometry/tests/test_predictor.py
Labels: Work in progress, enhancement
